
<div class="container">
<h1>All Restaurants</h1>
<ul>
 <% @restaurants.each do |restaurant| %>
      <li class="card">
        <p><%= link_to restaurant.name , restaurant_path(restaurant)%></p>
        <p><%= restaurant.address %></p>
        <p><%= restaurant.category %></p>
      </li>
    <% end %>
</ul>

</div>
